html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: open_sauce_one, sans-serif;
}

input,
input:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}
